@import "tailwindcss";

@theme {
    --color-primary: #5A9E6F;
    --color-secondary: #D1E231;
    --color-background: #F4F4F4;
    --color-text: #333333;
    --color-card: #D1E231;
    --color-darkBackground: #1a1a1a;
    --color-darkText: #e0e0e0;
    --color-darkCard: #D1E231;

    @media (prefers-color-scheme: dark) {
        --background: #1a1a1a;
        --text: #f4f4f4;
        
        --card: #333333;
    }
}